<button routerLink="/new">New Task</button>
<button (click)="removeAll()">Remove All</button>

<ul class="todolist">
  <!--<li *ngFor="let todoItem of todoItems" [class.selected]="todoItem == selectedTodoItem" routerLink="">-->
  <li *ngFor="let todoItem of todoItems">
      <a routerLink="/detail/{{todoItem.id}}">
        <span class="badge">{{todoItem.id}}</span> {{todoItem.title}}
      </a>
      <button class="delete" title="Remove" (click)="remove(todoItem.id)">x</button>
  </li>
</ul>
<!-- (click)="onSelect(todoItem)" -->
<!--<app-todolist-detail [todoItem]="selectedTodoItem"></app-todolist-detail>-->